.main2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.titleText{
    text-align: center;
    padding: 100px 0;
}
.titleText span {
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.5);
}
.main2 h1{
    font-size: 100px;
    font-weight: normal;
}
.main2 h2{
    font-size: 90px;
    margin-bottom: 50px;
}
.inner{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.main2_sub {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: absolute;
    top: 1300px;
    left: 450px;
}
.main2_sub p {
    font-size: 30px;
    font-weight: normal;
}

